In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
#TASK 1
file1 = pd.read_json("proj3_data1.json")
file2 = pd.read_json("proj3_data2.json")
file3 = pd.read_json("proj3_data3.json")

length = len(file1)+len(file2)+len(file3)
index_to_be = [i for i in range(length)]
frames = [file1,file2,file3]
df_all = pd.concat(frames)
df_all = df_all.set_index(pd.Series(index_to_be))
df_all.to_json("proj3_ex01_all_data.json", orient="columns")
df_all

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v

In [3]:
#TASK 2
counts = df_all.isna().sum()[df_all.isna().sum() > 0] # condition sum>0
counts.to_csv("proj3_ex02_no_nulls.csv", header=False)

In [4]:
# TASK 3
df_desc = df_all.copy()
with open("proj3_params.json") as params:
    params_dict = json.load(params)

cols_to_concat = params_dict["concat_columns"]
df_desc["description"] = df_desc[cols_to_concat].astype(str).agg(" ".join, axis=1) #joins each row value wth " "
df_desc.to_json("proj3_ex03_descriptions.json", orient="columns")
df_desc

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine,description
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI,Audi A3 1.5 TFSI
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo,BMW 3 Series 2.0L TwinPower Turbo
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI,Volkswagen Golf 1.5 TSI
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi,Renault Clio 1.5 dCi
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir,Fiat 500 0.9 TwinAir
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech,Peugeot 208 1.2 PureTech
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4,Volvo XC60 B4
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI,Seat Leon 1.5 TSI
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo,Opel Corsa 1.2 Turbo
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost,Ford Mustang 2.3L EcoBoost
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI,Volkswagen Passat 2.0 TDI
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6,Porsche 911 3.0L Twin Turbo V6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro,Audi Q5 45 TFSI quattro
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered,Volvo S60 T8 Polestar Engineered
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi,Renault Megane 1.5 dCi
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP,Peugeot 3008 1.6 THP
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v,Fiat Panda 1.2 8v
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v,Fiat Punto 1.2 8v

In [5]:
params_dict

{'concat_columns': ['make', 'model', 'engine'],
 'id_vars': ['make', 'model'],
 'join_column': 'engine',
 'int_columns': ['doors', 'displacement', 'horsepower', 'cylinders'],
 'grouping_column': 'make',
 'pivot_index': 'make',
 'pivot_columns': 'fuel_type',
 'pivot_values': 'fuel_consumption',
 'aggregations': [['displacement', 'min'],
  ['displacement', 'max'],
  ['fuel_consumption', 'mean']]}

In [6]:
# TASK 4
df_add = pd.read_json("proj3_more_data.json")
join_col = params_dict["join_column"]
df_merged = df_desc.merge(df_add, on=join_col,how="left")
df_merged.to_json("proj3_ex04_joined.json", orient="columns")
df_merged

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine,description,displacement,horsepower,fuel_type,cylinders,emissions_class
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI,Audi A3 1.5 TFSI,1498.0,150.0,gasoline,4.0,Euro 6d
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo,BMW 3 Series 2.0L TwinPower Turbo,1998.0,184.0,gasoline,4.0,Euro 6d
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI,Volkswagen Golf 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi,Renault Clio 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir,Fiat 500 0.9 TwinAir,875.0,85.0,gasoline,2.0,Euro 6d-TEMP
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech,Peugeot 208 1.2 PureTech,1199.0,130.0,gasoline,3.0,Euro 6d
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4,Volvo XC60 B4,NaN,NaN,NaN,NaN,NaN
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI,Seat Leon 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo,Opel Corsa 1.2 Turbo,1197.0,110.0,gasoline,4.0,Euro 6d-TEMP
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost,Ford Mustang 2.3L EcoBoost,2261.0,350.0,gasoline,4.0,Euro 6d-TEMP
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI,Volkswagen Passat 2.0 TDI,1968.0,150.0,diesel,4.0,Euro 6d-TEMP
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6,Porsche 911 3.0L Twin Turbo V6,3000.0,450.0,gasoline,6.0,Euro 6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro,Audi Q5 45 TFSI quattro,1984.0,245.0,gasoline,4.0,Euro 6
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered,Volvo S60 T8 Polestar Engineered,1969.0,415.0,hybrid,4.0,Euro 6
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi,Renault Megane 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP,Peugeot 3008 1.6 THP,1598.0,165.0,gasoline,4.0,Euro 5
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v,Fiat Panda 1.2 8v,NaN,NaN,NaN,NaN,NaN
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v,Fiat Punto 1.2 8v,NaN,NaN,NaN,NaN,NaN

In [7]:
# TASK 5
for row in df_merged.iterrows():
    #row = tuple, row[1] = series
    desc = row[1]["description"].lower().replace(" ","_")
    row_for_json = row[1].drop("description") 
    row_for_json.to_json(f"proj3_ex05_{desc}.json", orient="columns")


for row in df_merged.iterrows():
    #row = tuple, row[1] = series
    desc = row[1]["description"].lower().replace(" ","_")
    row_for_json = row[1].drop("description") 
    for int_col in params_dict["int_columns"]:
        val = row_for_json[int_col]
        row_for_json[int_col] = "null" if pd.isna(val) else int(val)
    row_for_json.fillna("null")
    row_for_json.to_json(f"proj3_ex05_int_{desc}.json", orient="columns")

In [8]:
# TASK 6
df_agg = df_merged.copy()
agg = params_dict["aggregations"]
json_agg_data = {}
for elem in agg:
    json_agg_data[f"{elem[1]}_{elem[0]}"]=float(df_agg[elem[0]].aggregate(elem[1]))
with open("proj3_ex06_aggregations.json", "w") as f:
    json.dump(json_agg_data, f, indent=4)
json_agg_data

{'min_displacement': 875.0,
 'max_displacement': 3000.0,
 'mean_fuel_consumption': 6.414285714285714}

In [9]:
#TASK 7
gr_col = params_dict["grouping_column"]

df_numeric = df_merged.select_dtypes(include=['int64', 'float64']).copy()
df_numeric[gr_col] = df_merged[gr_col]


grouped = df_numeric.groupby(gr_col)
counts = grouped.size()
valid_groups = counts[counts > 1].index
mean_of_groups = grouped.mean().loc[valid_groups]
mean_of_groups.to_csv("proj3_ex07_groups.csv", header=True, index=True)
mean_of_groups

,doors,top_speed,acceleration,fuel_consumption,displacement,horsepower,cylinders
make,,,,,,,
Audi,5.000000,228.5,6.75,6.00,1741.0,197.5,4.0
Fiat,3.666667,165.0,13.30,5.10,875.0,85.0,2.0
Peugeot,5.000000,200.0,9.55,5.30,1398.5,147.5,3.5
Renault,5.000000,202.5,9.45,5.95,1461.0,115.0,4.0
Volkswagen,4.500000,220.0,7.75,5.50,1733.0,150.0,4.0
Volvo,4.500000,235.0,7.10,6.30,1969.0,415.0,4.0

In [10]:
# TASK 8
pivot_ind = params_dict["pivot_index"]
pivot_cols = params_dict["pivot_columns"]
pivot_vals = params_dict["pivot_values"]

df_for_pivot = df_merged.copy()

df_pivoted = df_for_pivot.pivot_table(index=pivot_ind, columns=pivot_cols, values=pivot_vals,aggfunc="max")
df_pivoted.to_pickle("proj3_ex08_pivot.pkl")
df_pivoted

fuel_type   diesel  gasoline  hybrid
make
Audi           NaN       6.0     NaN
Ford           NaN      10.2     NaN
Opel           NaN       5.5     NaN
Peugeot        NaN       5.6     NaN
Porsche        NaN      11.8     NaN
Renault        6.5       NaN     NaN
Volkswagen     6.0       5.0     NaN
Volvo          NaN       NaN     6.6

In [11]:
df_for_long = df_merged.copy()
rec_identif = params_dict["id_vars"]

df_long = pd.melt(df_merged, 
                  id_vars=rec_identif,    
                  var_name="variable",    
                  value_name="value")     

df_long.to_csv("proj3_ex08_melt.csv", header=True, index=False)
df_long

           make     model         variable         value
0          Audi        A3        body_type     hatchback
1           BMW  3 Series        body_type         sedan
2    Volkswagen      Golf        body_type     hatchback
3       Renault      Clio        body_type     hatchback
4          Fiat       500        body_type     hatchback
..          ...       ...              ...           ...
211       Volvo       S60  emissions_class        Euro 6
212     Renault    Megane  emissions_class  Euro 6d-TEMP
213     Peugeot      3008  emissions_class        Euro 5
214        Fiat     Panda  emissions_class           NaN
215        Fiat     Punto  emissions_class           NaN

[216 rows x 4 columns]

In [1]:
stat_df = pd.read_csv("proj3_statistics.csv")
grouping_var = stat_df.columns[0]
pivot_index = params_dict["pivot_index"]

possible_prefixes = set(df_merged[pivot_index])

stat_df_melted = pd.melt(stat_df, id_vars=[grouping_var], var_name='prefsuf', value_name='value')

def split_prefsuf(row, prefixes):
    for prefix in prefixes:
        if row['prefsuf'].startswith(prefix):
            return pd.Series({
                'prefix': prefix,
                'suffix': row['prefsuf'][len(prefix):].strip("_")
            })
    return pd.Series({'prefix': None, 'suffix': None})

stat_df_melted[['prefix', 'suffix']] = stat_df_melted.apply(split_prefsuf, args=(possible_prefixes,), axis=1)

stat_df_melted['suffix'] = stat_df_melted['suffix'].astype(int)

stat_df_melted['multi_index'] = list(zip(stat_df_melted[grouping_var], stat_df_melted['suffix']))

result = stat_df_melted.pivot_table(
    index='multi_index',
    columns='prefix',
    values='value'
)

result.index = pd.MultiIndex.from_tuples(result.index)
#result.columns.name = None

result.to_pickle("proj3_ex08_stats.pkl")
print(result.to_markdown())
result

NameError: name 'pd' is not defined

In [13]:
result2 = pd.read_pickle("proj3_ex08_stats.pkl")
result2

              Audi   BMW  Renault  Volkswagen
France  2019  20.0  29.0     28.0        36.0
        2020  22.0  33.0     26.0        40.0
Germany 2019  24.0  31.0     17.0        44.0
        2020  26.0  35.0     15.0        48.0
Italy   2019  18.0  27.0     31.0        48.0
        2020  20.0  31.0     29.0        52.0
Poland  2019  12.0  21.0     22.0        32.0
        2020  14.0  25.0     20.0        36.0
Spain   2019  16.0  25.0     19.0        40.0
        2020  18.0  29.0     17.0        44.0